:root {
    --light-primary-bg: #FFFFFF;
    --light-secondary-bg: #DDDDDD;
    --light-tertiary-bg: #999999;
    --light-fg: #000000;
    --light-error: red;
    --light-warning: rgb(255, 231, 11);
    --light-success: green;
    --dark-primary-bg: #333333;
    --dark-secondary-bg: #555555;
    --dark-tertiary-bg: #AAAAAA;
    --dark-fg: #CCCCCC;
    --dark-error: darkred;
    --dark-warning: rgb(200, 183, 4);
    --dark-success: darkgreen;
}

body * {
    color: inherit;
    background-color: inherit;
}

body.dark {
    background-color: var(--light-fg);
    color: var(--dark-fg);
}

body.dark .primary-color {
    background-color: var(--dark-primary-bg);
    color: var(--dark-fg);
}

body.dark .secondary-color {
    background-color: var(--dark-secondary-bg);
    color: var(--dark-fg);
}

body.dark .tertiary-color {
    background-color: var(--dark-tertiary-bg);
    color: var(--dark-primary-bg);
}

body.dark .error-font {
    color: var(--dark-error);
    font-weight: bolder;
}

body.dark .warning-font {
    color: var(--dark-warning);
    font-weight: bolder;
}

body.dark .success-font {
    color: var(--dark-success);
    font-weight: bolder;
}

body.light {
    background-color: var(--dark-fg);
    color: var(--light-fg);
}

body.light .primary-color {
    background-color: var(--light-primary-bg);
    color: var(--light-fg);
}

body.light .secondary-color {
    background-color: var(--light-secondary-bg);
    color: var(--light-fg);
}

body.light .tertiary-color {
    background-color: var(--light-tertiary-bg);
    color: var(--light-primary-bg);
}

body.light .error-font {
    color: var(--light-error);
    font-weight: bolder;
}

body.light .warning-font {
    color: var(--light-warning);
    font-weight: bolder;
}

body.light .success-font {
    color: var(--light-success);
    font-weight: bolder;
}

body.dark .dark-theme-show {
    display: initial;
}

body.light .light-theme-show {
    display: initial;
}


body .hide {
    display: none;
}
